<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Hour Tracking Assistant
			</p>
		</div>
	</div>
	<div>
		<h2>Welcome to HourMonitor</h2>
		<p>This program is simply a functional demo and addition to my portfolio.</p>
		<p>Please signup to try out the various features</p>		
	</div>
	<div class="well">
		<h2>HourMonitor - Extra Info</h2>
		<p>
			Source code and my portfolio:
			<ul>
				<li><a target="_blank" href="http://kylerassweiler.com">Portfolio</a>
				</li>
				<li><a target="_blank" href="https://github.com/rassweiler/HourMonitor-MEAN">Source at Github</a>
				</li>
				<li><a target="_blank" href="https://bitbucket.org/rassweiler/hourmonitor-mean-edition">Source at Bitbucket</a>
				</li>
			</ul>
		</p>
	</div>
</section>