<section data-ng-controller="JobsController" data-ng-init="findOne()">
    <div class="page-header">
        <div class="page-header">
            <h1 data-ng-bind="job.name"></h1>
        </div>
        <div>
            <p data-ng-bind="job.description"></p>
            <br />
            <h3>Job Title</h3>
            <p data-ng-bind="job.title"></p>
            <h3>Company Name</h3>
            <p data-ng-bind="job.company"></p>
            <h3>Current Rate</h3>
            <p data-ng-bind="job.rate"></p>
            <h3>Days On Paycheck</h3>
            <p data-ng-bind="job.frequency"></p>
            <h3>Clocked In Status</h3>
            <p data-ng-bind="job.clocked"></p>
        </div>
        <ul class="list-group">
            <h3>All Pay Files:</h3>
            <li data-ng-repeat="f in job.payfiles" data-ng-href="/#!/pays/{{f}}" class="list-group-item">
                <a href="/#!/pays/{{f}}">{{f}}</a>
            </li>
        </ul>
    </div>
    <small>
        <em class="text-muted">
            Created:
            <span data-ng-bind="job.created | date:'mediumDate'"></span>
        </em>
    </small>
    <div class="pull-right">
        <a class="btn btn-primary" href="/#!/jobs/{{job._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove(job);">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
</section>