<section data-ng-controller="PaysController" data-ng-init="find()">
    <div class="page-header">
        <h1>Pays</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="pay in pays" data-ng-href="#!/pays/{{pay._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="pay.created | date:'medium'"></span>
				by
				<span data-ng-bind="pay.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="pay.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!pays.$resolved || pays.length">
    	No Pays yet, why don't you <a href="/#!/pays/create">create one</a>?
    </div>
</section>