<section data-ng-controller="PaysController" data-ng-init="findOne()">
	<div class="page-header">
		<div class="page-header">
			<h1>{{pay.start| date:'mediumDate'}} - {{pay.end| date:'mediumDate'}}</h1>
		</div>
		<div>
            <p data-ng-bind="pay.name"></p>
            <br />
            <h3>Job Title</h3>
            <p data-ng-bind="job.title"></p>
            <h3>Company Name</h3>
            <p data-ng-bind="job.company"></p>
            <h3>Current Rate</h3>
            <p data-ng-bind="job.rate"></p>
            <h3>Days On Paycheck</h3>
            <p data-ng-bind="job.frequency"></p>
            <h3>Clocked In Status</h3>
            <p data-ng-bind="job.clocked"></p>
            <h3>Current Pay File</h3>
            <a href="/#!/pays/{{job.pay}}" data-ng-bind="job.pay"></a>
        </div>
	</div>
	<small>
		<em class="text-muted">
			Created:
			<span data-ng-bind="pay.created | date:'mediumDate'"></span>
		</em>
	</small>
      <div class="pull-right">
        <a class="btn btn-primary" href="/#!/pays/{{pay._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
</section>
